{% from 'layouts/partials/_select.njk' import select as Select %}
{% extends 'layouts/master.njk' %}
{% set pageId = 'page-study' %}
{% set pageTitle = 'Estudar' %}
{% set showHeader = true %}

{% block styles %}
  <link rel="stylesheet" href="/styles/partials/header.css"/>
  <link rel="stylesheet" href="/styles/partials/forms.css"/>
  <link rel="stylesheet" href="/styles/partials/custom-select.css"/>
  <link rel="stylesheet" href="/styles/partials/page-study.css"/>
{% endblock styles %}

{% block scripts %}
  <script src="/scripts/customSelect.js" defer="defer"></script>
{% endblock scripts %}

{% block headerContent %}
  <strong>Estes são os proffys disponíveis.</strong>
  <div class="header-description">
    <div>
      <img src="/images/icons/smile.svg" alt="Smile">
      <p>
        Nós temos
        {{ totalProffys or 0 }}
        <span></span>
        professores.
      </p>
    </div>
  </div>
  <form id="search-teachers">
    <div class="select-block">
      <label for="subject">Matéria</label>
      {{ Select('subject', 'Matéria', subjects[0].value, subjects) }}
    </div>
    <div class="select-block">
      <label for="weekday">Dia da semana</label>
      {{ Select('weekday', 'Dia', weekdays[0].value, weekdays) }}
    </div>
    <div class="input-block">
      <label for="time">Hora</label>
      <input type="time" name="time" id="time" value="{{filters.time}}"/>
    </div>
    <button type="submit">
      <img src="/images/icons/search.svg" alt="Filtrar">
    </button>
  </form>
{% endblock headerContent %}

{% block content %}
  <main>
    {% if proffys == '' %}
      <p class="no-results">Nenhum professor encontrado com a sua pesquisa.</p>
    {% else %}

      {% for proffy in proffys %}
        <article class="teacher-item">
          <header>
            <img src="{{ proffy.avatar }}" alt="{{ proffy.name }}"/>
            <div>
              <strong>{{ proffy.name }}</strong>
              <span>{{ proffy.subject }}</span>
            </div>
          </header>
          <p>
            {{ proffy.bio }}
          </p>
          <footer>
            <p>Preço/Hora<strong>R$
                {{ proffy.cost }}</strong>
            </p>
            <a target="_blank" href="https://api.whatsapp.com/send?l=pt_BR&phone={{ proffy.phone_number }}&text=Tenho interesse na sua aula de {{ proffy.subject }}, {{ proffy.name }}" class="button">
              <img src="/images/icons/whatsapp.svg" alt="Whatsapp Icon"/>Entrar em contato
            </a>
          </footer>
        </article>
      {% endfor %}

    {% endif %}
  </main>
{% endblock content %}