#page-success {
  background-color: var(--color-primary);
  background-image: url(/images/success-background.svg);
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
}

#page-success .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page-success img {
  min-width: 12rem;
  min-height: 12rem;
  margin-bottom: 4rem;
}

#page-success h1 {
  font: 700 5.4rem Archivo, sans-serif;
  color: var(--color-title-in-primary);
  text-align: center;
  margin-bottom: 2.4rem;
}

#page-success p {
  max-width: 48rem;
  font: 500 1.6rem Poppins, sans-serif;
  color: var(--color-text-in-primary);
  line-height: 2.4rem;
  text-align: center;
  margin-bottom: 8rem;
}

#page-success button {
  min-width: 17.6rem;
  min-height: 5.6rem;
  font: 700 1.6rem Archivo, sans-serif;
  color: var(--color-title-in-primary);
  border: 0;
  border-radius: 0.8rem;
  background: var(--color-secondary);
  transition: background 0.2s;
  margin-bottom: 1.6rem;
}

#page-success button:hover {
  background: var(--color-secondary-dark);
}

@media screen and (max-width: 1010px) {
  #page-success {
    background-image: none;
  }
}
